<button class="save" {{action 'save'}}>Save</button>

<fieldset class="server">
  <label>Server</label>
  {{input value=server}}
</fieldset>

<header>
  <label>Name</label>
  <label>URL</label>
</header>
<ul>
  {{#each sites}}
    <li>
      <fieldset class="name">
        {{input value=name}}
      </fieldset>

      <fieldset class="url">
        {{input value=url}}
      </fieldset>

      <button {{action 'removeSite' this}}><i class="fa fa-times"></i></button>
    </li>
  {{/each}}
</ul>

<p class="add-site">
  <button {{action 'addSite'}}>
    <i class="fa fa-plus"></i>
  </button>
</p>
